<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="messages" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\temp\messages.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="ActivityPortBinding" />
          <binding name="AuthenticationPortBinding" >
            <security mode="Transport">
              <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
              <message clientCredentialType="Certificate" algorithmSuite="Default" />
            </security>
          </binding>
          <binding name="ProjectPortBinding" />
        </basicHttpBinding>
      </bindings>
      <client>
        <endpoint address="http://oyster.gnet:8206/p6ws/services/ActivityService"
          binding="basicHttpBinding" bindingConfiguration="ActivityPortBinding"
          contract="ActivityService.ActivityPortType" name="ActivityPort" />
        <endpoint address="http://oyster.gnet:8206/p6ws/services/AuthenticationService"
          binding="basicHttpBinding" bindingConfiguration="AuthenticationPortBinding"
          contract="AuthenticationService.AuthenticationServicePortType"
          name="AuthenticationServiceSOAP12port_http" >
        </endpoint>
        <endpoint address="http://oyster.gnet:8206/p6ws/services/ProjectService"
          binding="basicHttpBinding" bindingConfiguration="ProjectPortBinding"
          contract="ProjectService.ProjectPortType" name="ProjectPort" />
      </client>
      <diagnostics>
        <messageLogging logEntireMessage="true" logMalformedMessages="false" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="false" maxMessagesToLog="3000" maxSizeOfMessageToLog="2000"/>
      </diagnostics>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
